env/
env-linux/
Dep-Generator/__pycache__
Dep-Generator/Dataset
Dep-Generator/Output
Dep-Generator/cc.*
Raw-Classified/


Datasets/10kGNAD-DE/Parsed
Datasets/10kGNAD-DE/Tree*
Datasets/10kGNAD-DE/10kGNAD-DE Graph-Transformer-Datasets.7z

Datasets/B2W-PT/Raw*
Datasets/B2W-PT/B2W_*/
Datasets/B2W-PT/Parsed/*
Datasets/B2W-PT/Datasets-Created-to-Graph_transformer.7z

Datasets/MR/MR_*
Datasets/MR/MR-*
Datasets/MR/U2GNN-*
Datasets/MR/U2GNN-*/Train_MR.txt
Datasets/MR/Parsed/*

Datasets/Ohsumed/Output-dataset
