env/
env-linux/
Dep-Generator/__pycache__
Dep-Generator/Dataset
Dep-Generator/Output
Dep-Generator/cc.*
Datasets/B2W-PT/Raw
Raw-Classified/
Datasets/MR/U2GNN-*/Train_MR.txt
Datasets/B2W-PT/B2W_*/
Datasets/MR/*
Datasets/B2W-PT/*
Datasets/10kGNAD-DE/Parsed